
/*** TAG Selector ***/
body {
    background-color: #eeeeee;
    margin: 0;
}

hr {
    border-style: none;
    border-color: #00adb5;
    border-top-style: dotted;
    border-width: 5px;
    width: 10%;
    size: 3;
}

h1 {
    margin-top: 0;
    margin-bottom: 5px;
}
h2 {
    color:#393e46;
}

.hover:hover {
    color: #00adb5;
}

/*** Class Selector ***/
.hr-top {
    width: 100%;
}

.top-container {
    padding-top: 20px;
    background-color: #393e46;
    color: #eeeeee
}

/*** ID Selector ***/
#email {
    color: #eeeeee
}