body {
    background-color: #eeeeee;
}

hr {
    border-style: none;
    border-color: #00adb5;
    border-top-style: dotted;
    border-width: 5px;
    width: 10%;
    size: 3;
}

h1 {
    color: #222831;
}
h2 {
    color:#393e46;
}
